*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
.invisible{
    display: none;
}
.wrapper{
    padding-top: 2.17vw;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.background__image{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
menu{
    position: absolute;
    top: 2.04vw;
    left: 9.82vw;
    width: 80.36vw;
    height: 2.04vw;
    z-index: 1000;
}

menu img{
   width: 1.8vw;
}
menu button{
    width: auto;
    font-family: 'Montserrat';
    font-style: Medium;
    font-size: 1vw;
    line-height: 140%;
    text-align: center;
    letter-spacing: 5%;
    margin-left: 5.5vw;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
}
menu button:hover{
    border-bottom: 1px solid #F38120;
    color:#F38120;
}
header{
    position: absolute;
    top: 5.08vw;
    left: 9.82vw;
    width: 80.36vw;
    height: 7.71vw;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
.header__box{
    width: 11vw;

}
header p{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 0.62vw;
    text-align: Center;
    margin-top: 0.5vw;
}
header span{
    font-weight: bold;
}
.price__list{
    display: flex;
    padding: 2vw 0 3vw 0;
}
.price-list__circle{
    padding-top: 0.2vw;
    width: 2.28vw;
    height: 2.28vw;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.1);
    box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.1);
}
.price__list p{
    height: 1vw;
    margin: 0.5vw;
}
.pdf{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #12C868
}
.catalog{
    font-weight: 600;
    border-bottom: 2px dotted #12C868
}
.dot{
    color: #12C868;
    font-size: 1vw;
}
.header-logo__box{
    width: 14.27vw;
    
}
.form__logo{
    width: 14.27vw;
    height: 7.71vw;
    background-image: url(../image/logoForm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 2.2vw;
}
.form__logo img{
    display: block;
    width: 9.79vw;
    height: 7.71;
}
.social__networks{
   width: 100%;
   padding: 0.5vw 0;
}
.social__networks p{
    text-align: center;
}
.viber{
    padding-top: 0.5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #976FCC;
    text-align: center;
}
.viber:hover{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
	-moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
	box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
}
.whatsap{
    padding-top: 0.5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #12C868;
    text-align: center;
}
.whatsap:hover{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
	-moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
	box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
}
.header__image-box{
    display: flex;
    justify-content: space-between;
}
.header__image-box img{
    width: 1.5vw;
    height: 2vw;
    margin: auto;
}
.telegram{
    padding-top: 0.5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #05A0EB;
    text-align: center;
}
.telegram:hover{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
	-moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
	box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.4);
}
.phone__box{
    width: 14vw;
    text-align: center;
}
.header-phone__number{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.4vw;
    line-height: 122.73%;
    text-align: center;
    letter-spacing: 5%;
}
#phone__button{
    border: none;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #12C868;
    border-bottom: 2px dotted #12C868;
    padding: 0.3vw 0;
}
main{
    position: absolute;
    top: 11vw;
    left: 9vw;
    width: 80.36vw;
    height: 33.63vw;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-top: 1vw;
}
.main__container{
    display: flex;
}
.bulletins{
    width: 12.92vw;
    height: 32.6vw;
    background-image:url(../image/bullietins.png);
    background-size:contain;
    background-position: left;
    background-repeat:no-repeat;
    padding: 1.28vw 0.5vw;
}
.bullet{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 0.73vw;
    line-height: 157%;
    text-align: center;
    padding: 1.15vw 2vw;
    -webkit-box-shadow: 0px 10px 5px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 5px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 5px -5px rgba(34, 60, 80, 0.2);
}
.bullet__last{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 0.73vw;
    line-height: 157%;
    text-align: center;
    padding: 1.12vw 2vw;
}
.bullet span{
    font-weight: 700;
}
.bullet__last span{
    font-weight: 700;
}
.main__text{
    width: 35vw;
    height: 13.28vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 2.86vw;
    line-height: 155%;
    text-align: justify;
    color: #1C1C1C
}
.main__text span{
    font-weight: 600;
}
.main-text__container{
    padding: 1.5vw 0 0 1vw;
}
.text__montage{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw;
    line-height: 121.8%;
    text-align: center;
    color: #1C1C1C;
}
.button__box{
    padding-top: 1.3vw;
}
.button__calculation{
    width: 19.53vw;
    height: 5.21vw;
    border-radius: 9.77vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.73vw;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color:#12C868;
    border: none;
    color: #FFFFFF;
    position: relative;
    padding-right: 4vw;

}
.button__calculation img{
    top: 2vw;
    left: 15vw;
    position: absolute;
    display: block;
}
.button__record{
    width: 19.53vw;
    height: 5.21vw;
    border-radius: 9.77vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.73vw;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color:#F38120;
    border: none;
    color: #FFFFFF;
    position: relative;
    padding-right: 4vw;
}
.button__record img{
    top: 2vw;
    left: 15vw;
    position: absolute;
    display: block;
}
.button__calculation:hover{
    background: #21E27C;
    box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
    padding-right: 3.5vw;    
}
.button__record:hover{
    background: #FD9C49;
    box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
    padding-right: 3.5vw;    
}
.bonus__text{
    width: 14.12vw;
    position: relative;

    padding-top: 1vw;
}
.bonus__text img{
    display: block;
    position: absolute;
    top: 1vw;
    left: 0;
}
.bonus__text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 0.73vw;
    line-height: 157%;
    text-align: center;
    letter-spacing: 0.02em;
    padding-left: 1.53vw;
}
.bonus__text span{
    font-weight: 600;
}
.modalWindowCallMe{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color:rgba(34, 60, 80, 0.6);
    z-index: 1000;
}
.modal__invisible{
    display: none;
}
.callMe__form{
    width: 28.65vw;
    height:33.85vw;
    background-color: #FFFFFF;
    margin: 7vw auto;
    border-radius: 2vw;
    padding-top: 3.65vw;
    position: relative;
}
.modal__title{
    width: 18.54vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.56vw;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1C1C1C;
    margin: 0 5.05vw 0.73vw 5.05vw;
}
input{
    width: 18.54vw;
    height: 4.43vw;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 9.27vw;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.94vw;
    line-height: 111%;
    align-items: center;
    letter-spacing: 0.02em;
    color: #A7A7A7;
    padding: 1.25vw 0 1.25vw 2.4vw;
    margin: 1vw auto;
    display: block;
}
#send__application{
    display: block;
    position: relative;
    width: 18.54vw;
    height: 4.43vw;
    background: #F38120;
    box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
    border-radius: 9.27vw;
    border:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 0.83vw;
    line-height: 125%;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 1vw auto;
    display: block;
}
.callMe__form button img{
    display: block;
    position: absolute;
    top: 1.4vw;
    left: 14.5vw;
}
.close{
    width: 1.04vw;
    height: 1.04vw;
    position: absolute;
    top: 2vw;
    left: 25vw;
}
.inter-phone__number{
    width: 17.81vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.83vw;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
.work-time__modal{
    width: 17.81vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.63vw;
    line-height: 125%;
    text-align: center;    
    color: #000000;    
    opacity: 0.75;
    margin: 1vw auto; 
}
.input__title{
    width: 17.81vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.63vw;
    line-height: 125%;
    text-align: center;    
    color: #000000;    
    opacity: 0.75;
    margin: 1vw auto; 
}
.lable__box{
    display: block;
    width: 18.54vw;
    flex-wrap: nowrap;
    display: flex;
    margin: 0 auto;
}
.label__title,  .label__title-color {
    display: block;
    width: 16.6vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.63vw;
    line-height: 175%;
    padding-top: 0.2vw;
}
.label__title-color {
    color:#F38120;
}
#checkbox{
    display: none;
}
.new__checkbox {
    display: inline-block;
    width: 2vw;
    height: 2vw;
    background-color:#F38120;
    margin: 0.5vw;
    position: relative;
    border-radius: 0.5vw;
    min-width: 2vw;
}
.new__checkbox::before{
    width: 1.5vw;
    height: 1.5vw;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    background-image: url(../image/checed.svg);
    background-repeat:no-repeat;
    background-size:contain;
    opacity: 0;
    transition: 0.2s;
}
#checkbox:checked + .new__checkbox::before{
    opacity: 1;
}
.modalWindowCallBack{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color:rgba(34, 60, 80, 0.6);
    z-index: 1000;
}